<div class="w-full my-20 px-10 text-slate-700">
  <h1 class="text-3xl font-bold text-center">{{ title }}</h1>

  <div class="w-[900px] grid grid-cols-2 gap-x-[50px] mx-auto my-10">
    <div class="flex flex-col items-start justify-center gap-y-2">
      <div class="input-container flex flex-col gap-y-1">
        <label
          for="length"
          class="uppercase text-xs text-slate-400 font-bold tracking-wide"
          >Length</label
        >
        <input
          type="number"
          id="length"
          class="input"
          [(ngModel)]="length"
          class="p-3 border-2 border-slate-300 rounded"
        />
      </div>

      <div class="flex flex-col items-stretch gap-y-1 my-5">
        <div class="flex items-center gap-x-3">
          <input
            type="checkbox"
            [(ngModel)]="useLetters"
            id="useLetters"
            name="useLetters"
            [ngModelOptions]="{ standalone: true }"
          />
          <label for="useLetters" class="cursor-pointer">Use Letters</label>
        </div>
        <div class="flex items-center gap-x-3">
          <input
            type="checkbox"
            [(ngModel)]="useNumbers"
            id="useNumbers"
            name="useNumbers"
            [ngModelOptions]="{ standalone: true }"
          />
          <label for="useNumbers" class="cursor-pointer">Use Numbers</label>
        </div>
        <div class="flex items-center gap-x-3">
          <input
            type="checkbox"
            [(ngModel)]="useSymbols"
            id="useSymbols"
            name="useSymbols"
            [ngModelOptions]="{ standalone: true }"
          />
          <label for="useSymbols" class="cursor-pointer">Use Symbols</label>
        </div>
      </div>

      <div class="">
        <button
          class="px-4 py-2 rounded bg-slate-200 hover:bg-slate-300 transition text-sm font-bold uppercase tracking-wide"
          (click)="generatePassword()"
          className=""
        >
          Generate Password
        </button>
      </div>
    </div>

    <app-show-password
      [password]="password"
      [error]="error"
    ></app-show-password>
  </div>
</div>
